.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.img{
  background-color: #5055BE;
}

.an{
  width:85%
}
.my-card{
  background-color: #EDEDF9;
}

.female{
  margin-left: 10px;;
}